body {
  background-image: url(../images/finespun2.png);
  background-repeat: repeat;
  background-size: 900px;
  padding-bottom: 70px;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  background-color: gray;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footertext {
  color: white;
}

.myname {
  color: white;
  background: #4aaaa5;
  width: 300px;
  height: 75px;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 30px;
  font-weight: bold;
  padding: 13px;
  text-align: center;
  float: left;
}

.border2 {
  border-color: grey;
  border-width: 4px;
}
/* 
img {
  margin: 20px;
} */
